
<link href="assets/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Boleta-(e)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="#">Mantenimiento</a>
            </li>
            <li class="active">
                <strong>Perfiles</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPerfil">
                Nuevo
            </button>
            <div class="ibox-title">
                <h5>Listado de perfiles creados</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
                    <table id="tblPerfil" class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                            <tr>
                                <th>IdPerfil</th>
                                <th>IdAuditoria</th>
                                <th>Ruc</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal inmodal" id="modalPerfil" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Nuevo Perfil</h4>
                <!--
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                -->
            </div>
            <div class="modal-body">
            <!--
                <p>
                    <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
                
                <div class="form-group">
                    <label>Sample Input</label>
                    <input type="email" placeholder="Enter your email" class="form-control">
                </div>
                -->
                <form id="frm-nuevoperfil" class="wizard-big">
                <h1>Perfil</h1>
                <fieldset>
                    <div class="form-group">
                        <input id="hdnIdPerfil" name="hdnIdPerfil" type="hidden">
                        <input id="hdnIdAuditoria" name="hdnIdAuditoria" type="hidden">
                        <input id="hdnRuc" name="hdnRuc" type="hidden">
                    </div>                
                    <div class="form-group">
                        <label>Nombre</label>
                        <input id="txtNombre" name="txtNombre" type="text" class="form-control required" aria-required="true">
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input id="txtDescripcion" name="txtDescripcion" type="text" class="form-control">                    
                    </div>
                </fieldset>
                <h1>Accesos</h1>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">

                                    <li class="dd-item dd-collapsed" data-id="1">
                                        <div class="dd-handle">
                                            <span class="label label-info"><i class="fa fa-users"></i></span> Colaboradores
                                        </div>
                                        <ol class="dd-list">
                                            <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="4" class="input-mini" />Seleccione
                                                </label>
                                            </div>
                                        </ol>
                                    </li>

                                    <li class="dd-item dd-collapsed" data-id="2">
                                        <div class="dd-handle">
                                            <span class="label label-warning"><i class="fa fa-users"></i></span> Documentos
                                        </div>
                                        <ol class="dd-list">
                                            <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="1" class="input-mini" />Boleta
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="2" class="input-mini" />CTS
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="3" class="input-mini" />Otros
                                                </label>
                                            </div>
                                        </ol>
                                    </li>

                                    <li class="dd-item dd-collapsed" data-id="3">
                                        <div class="dd-handle">
                                            <span class="label label-success"><i class="fa fa-edit"></i></span> Mantenimiento
                                        </div>
                                        <ol class="dd-list">
                                            <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="5" class="input-mini" />Documentos
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="6" class="input-mini" />Perfiles
                                                </label>
                                            </div>
                                           <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="7" class="input-mini" />Grupos
                                                </label>
                                            </div>
                                           <div class="checkbox">
                                                <label class="checkbox" for="chkSubMenu">
                                                    <input id="chkSubMenu" name="chkSubMenu" type="checkbox" value="8" class="input-mini" />Usuarios
                                                </label>
                                            </div>                                            
                                        </ol>
                                    </li>

                                </ol>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <h1>Areas</h1>
                <fieldset>
                    <div class="row">
                        <div id="areas" class="col-lg-12">

                        </div>
                    </div>
                </fieldset>
                <h1>Tipo de documento</h1>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-12">
                        <div id="tipo_documento" class="col-lg-12">

                        </div>
                        </div>
                    </div>
                </fieldset>
                </form>
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            -->
        </div>
    </div>
</div>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="assets/js/plugins/steps/jquery.steps.min.js"></script>
<script src="assets/js/plugins/validate/jquery.validate.min.js"></script>


<script src="assets/js/plugins/nestable/jquery.nestable.js"></script>

<script>
    $(document).ready(function() {

        
        $.getJSON("?c=Tipodocumento&a=listar", function (data) {
            var items;
            $.each(data, function (i, item) {
                //addNode(item.Id, item.Icon, item.Descripcion, item.ArraySubmenu);
                $("#tipo_documento").append(addNodeChekBox('chkTipodocumento', item.Id, item.Descripcion, item.Estado));
            });
        });

        $.getJSON("?c=Area&a=listar", function (data) {
            var items;
            $.each(data, function (i, item) {
                //addNode(item.Id, item.Icon, item.Descripcion, item.ArraySubmenu);
                $("#areas").append(addNodeChekBox('chkAreas', item.Id, item.Nombre, item.Estado));
            });
        });         
        

        var tblPerfil = $('#tblPerfil').DataTable();

        tblPerfil = cargarTabla();
        /*
        $("#frm-nuevoperfil").validate({
                rules: {
                    txtNombre: {
                        required: false
                    },
                    txtDescripcion: {
                        required: false
                    }                    
                },
                messages: {
                    txtNombre: {
                        required: "asdas"
                    },
                    txtDescripcion: {
                        required: "asdas"
                    }                    
                },
                submitHandler: function(form) {
                    $.post("?c=Perfil&a=guardar",
                    {
                        idperfil: $("#hdnIdPerfil").val(),
                        idauditoria: $("#hdnIdAuditoria").val(),
                        ruc: $("#hdnRuc").val(),
                        nombre: $("#txtNombre").val(),
                        descripcion: $("#txtDescripcion").val()
                    }, function(data, status){
                        //alert("Data: " + data + "\nStatus: " + status);
                        $('#modalPerfil').modal('toggle');

                        
                        var response = jQuery.parseJSON(data);

                        if(response.error == FLAG_CORRECTO){
                            //alert("correcto");
                            bootbox.alert({
                                title: m_001,
                                message: m_0057,
                                size: 'small',
                                className: 'animated bounceInRight',
                                callback: function(){  }
                            });
                        }else{
                            bootbox.alert({
                                title: m_001,
                                message: m_0058 + ': ' + response.error,
                                size: 'small',                                
                                className: 'animated wobble',
                                callback: function(){ }
                            });  
                        }

                        tblPerfil = cargarTabla();
                    });
                }
        });
        */


        $('#modalPerfil').on('show.bs.modal', function (e) {
            $('#nestable').nestable('collapseAll').nestable('collapseAll');
        });

        $("#frm-nuevoperfil").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {

                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                    if(newIndex === 2 && $('#nestable input:checked').length === 0)
                    {
                        return false;
                    }
                    if(newIndex === 3 && $('#areas input:checked').length === 0)
                    {
                        return false;
                    }                    

                    if(currentIndex === 3 && $('#tipo_documento input:checked').length === 0)
                    {
                        return false;
                    }     
                    var form = $(this);
                    /*
                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }
                    */
                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                    
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    /*
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18)
                    {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("previous");
                    }
                    */

                },
                onFinishing: function (event, currentIndex)
                {

                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    //console.log(form.serialize());

                    return form.valid();

                },
                onFinished: function (event, currentIndex)
                {

                    var form = $(this);
                    $.post("?c=Perfil&a=guardar",
                    {
                        idperfil: $("#hdnIdPerfil").val(),
                        idauditoria: $("#hdnIdAuditoria").val(),
                        ruc: $("#hdnRuc").val(),
                        nombre: $("#txtNombre").val(),
                        descripcion: $("#txtDescripcion").val(),
                        submenu: $('input[name="chkSubMenu"]:checked').map(function(){return $(this).val();}).get(),
                        tipodocumento: $('input[name="chkTipodocumento"]:checked').map(function(){return $(this).val();}).get(),
                        areas: $('input[name="chkAreas"]:checked').map(function(){return $(this).val();}).get()

                    }, function(data, status){

                        $('#modalPerfil').modal('toggle');
                        var response = jQuery.parseJSON(data);
                        console.log(response);
                        /*                        
                        if(response.error == FLAG_CORRECTO){
                            //alert("correcto");
                            bootbox.alert({
                                title: m_001,
                                message: m_0057,
                                size: 'small',
                                className: 'animated bounceInRight',
                                callback: function(){  }
                            });
                        }else{
                            bootbox.alert({
                                title: m_001,
                                message: m_0058 + ': ' + response.error,
                                size: 'small',                                
                                className: 'animated wobble',
                                callback: function(){ }
                            });  
                        }
                        */
                        tblPerfil = cargarTabla();
                    });                                   

                }                         
        }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        }/*,
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }*/
                    });

        $('#tblPerfil tbody').on('click', 'td.link-control > .editar', function () {

            $('#modalPerfil').modal('show');
            var tr = $(this).closest('tr');
            var row = tblPerfil.row(tr);

            $("#hdnIdPerfil").val(row.data().Id);
            $("#hdnIdAuditoria").val(row.data().Auditoria.Id);
            $("#hdnRuc").val(row.data().Empresa.Ruc);
            $("#txtNombre").val(row.data().Nombre);
            $("#txtDescripcion").val(row.data().Descripcion);

        });

        $('#modalPerfil').on('hidden.bs.modal', function () {
            limpiar();
        })

    } );
    function cargarTabla(){

        var table = $('#tblPerfil').DataTable({
            "bFilter": true,
            "bDestroy": true,
            "bProcessing": true,
            "bServerSide": true,
            "ajax": {
                "type": "POST", 
                //"contentType": "application/json; charset=utf-8",        
                "url": '?c=Perfil&a=listar',
                /*
                "data": function ( d ){
                    d.RowsDeleted = rows_deleted;
                    d.fecha_seleccion = '';
                },
                */
                "error": function(xhr,status,error) {
                    console.log(xhr.responseText);
                    console.log(xhr);
                }
            },
            'columnDefs': [
                {
                    "targets": [ 0, 1, 2],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [6],
                    "searchable": false, 
                    "orderable": false,
                    "className": 'link-control',
                    "render": function(data, type, full, meta){

                    return '' +
                    '<button class="btn btn-success btn-xs btn-space editar">'+
                        '<i class="fa fa-wrench"></i> Editar'+
                    '</button>' + 
                    '<button class="btn btn-danger btn-xs btn-space" onClick="eliminar(' + data.Id + ',' + data.Auditoria.Id + ')">'+
                        '<i class="fa fa-close"></i> Eliminar'+
                    '</button>';                      
                    }
                }
            ],
            "columns": [
                        { "data": 'Id'},
                        { "data": 'Auditoria.Id'},
                        { "data": 'Empresa.Ruc'},
                        { "data": 'Nombre'},
                        { "data": 'Descripcion'},
                        { "data": 'Estado'},
                        { "data": null},
            ],
        });    

        return table;        
    }
    function limpiar(){
        $("#hdnIdPerfil").val('');
        $("#hdnIdAuditoria").val('');
        $("#hdnRuc").val('');
        $("#txtNombre").val('');
        $("#txtDescripcion").val('');        
    }
    function eliminar(IdPerfil, IdAuditoria){
        addNode();

        bootbox.confirm({
            title: m_001,
            message: m_0067,
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function (result) {
                if(result){
                    $.post("?c=Perfil&a=eliminar",
                    {
                        idperfil: IdPerfil,
                        idauditoria: IdAuditoria

                    }, function(data, status){
                        //alert("Data: " + data + "\nStatus: " + status);
                        var response = jQuery.parseJSON(data);

                        if(response.error == FLAG_CORRECTO){
                            //alert("correcto");
                            bootbox.alert({
                                title: m_001,
                                message: m_0064,
                                size: 'small',
                                className: 'animated bounceInRight',
                                callback: function(){ }
                            });
                        }else{
                            bootbox.alert({
                                title: m_001,
                                message: m_0058 + ': ' + response.error,
                                size: 'small',                                
                                className: 'animated wobble',
                                callback: function(){  }
                            });  
                        }

                        tblPerfil = cargarTabla();
                    });
                }else{
                    bootbox.alert({
                        title: m_001,
                        message: m_0068,
                        size: 'small',
                        className: 'animated bounceInRight',
                        callback: function(){  }
                    });
                }
            }
        }); 

    }
    function addNodeNestable(Id, Icon, MenuName, ArraySubmenu){
        
        var append = "";

        var elementos = ArraySubmenu.length;
        
        append += 
            "<li class='dd-item dd-collapsed' data-id='" + Id + "'>" + 
                "<div class='dd-handle'>" + 
                    "<span class='label label-warning'><i class='fa " + Icon +"'></i></span> "+ MenuName +
                "</div>";
        append += 
                "<ol class='dd-list'>";

        append +=                 
            "<div class='checkbox'>" +
                "<label class='checkbox' for='" + MenuName + "'>"+
                    "<input name='" + MenuName + "' type='checkbox' value='" + Id + "' class='input-mini' checked/> " + MenuName + 
                "</label>" +
            "</div>";

        for (i = 0; i < elementos; i++) { 

            append +=                 
                "<div class='checkbox'>" +
                    "<label class='checkbox' for='" + MenuName + "'>"+
                        "<input name='" + MenuName + "' type='checkbox' value='" + ArraySubmenu[i].Id+ "' class='input-mini' checked/> " + ArraySubmenu[i].Descripcion + 
                    "</label>" +
                "</div>";                     
        }
        append += 
                "</ol>";                
        append += 
            "</li>";

        $("#nestable > ol").append(append);     
    }
    function addNodeChekBox(Tipo, Id, Nombre, Estado){
        var append = "";

        if(Estado == 'A')
            append +=                 
                "<div class='checkbox'>" +
                    "<label class='checkbox' for='" + Tipo + "'>"+
                        "<input name='" + Tipo + "' type='checkbox' value='" + Id + "' class='input-mini' checked/> " + Nombre + 
                    "</label>" +
                "</div>";    
        return append;
    }
  
    
</script>