<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Mantenimiento</a>
            </li>
            <li class="active">
                <strong>Usuarios</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalArea">
                Nuevo
            </button>
            <div class="ibox-title">
                <h5>Listado de usuarios</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
                    <table  id="tblUsuario" class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                            <tr>
                                <th>IdArea</th>
                                <th>IdPerfil</th>
                                <th>Nombre</th>
                                <th>IdAuditoria</th>
                                <th>Apellidos</th>
                                <th>Usuario</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Usarios</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--Modal -->
<div class="modal inmodal" id="modalArea" tabindex="-1" role="dialog" aria-hidden="true">
<!-- Desde Aca es la ventana Modal-->
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
        <form id="frm-nuevoempleado">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Nuevo Usuario</h4>
                <!--
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                -->
            </div>
            <div class="modal-body">
            <!--
                <p>
                    <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
                
                <div class="form-group">
                    <label>Sample Input</label>
                    <input type="email" placeholder="Enter your email" class="form-control">
                </div>
                -->
                <div class="form-group">
                    <input id="hdnIdEmpleado" name="hdnIdEmpleadoArea" type="hidden">
                    <input id="hdnIdAuditoria" name="hdnIdAuditoria" type="hidden">
                    <input id="hdnRuc" name="hdnRuc" type="hidden">
                    <input id="hdnIdArea" name="hdnIdArea" type="hidden">
                    <input id="hdnIdPerfil" name="hdnIdPerfil" type="hidden">

                </div>                
                <div class="form-group">
                    <label>Nombre</label>
                    <input id="txtNombre" name="txtNombre" type="text" class="form-control required" aria-required="true">
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input id="txtApellido" name="txtApellido" type="text" class="form-control required" aria-required="true">                    
                </div>
                 <div class="form-group">
                    <label>Tipo Documento Identidad</label>
                    <select id="slttipodocumentoidentidad" class="form-control required">
                        
                    </select>
                                        
                </div>
                <div class="form-group">
                    <label>Número de documento de identidad</label>
                    <input id="txtNumeroDocumentoIdentiddad" name="txtNumeroDocumentoIdentiddad" type="text" class="form-control required" aria-required="true">                    
                </div>

                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input id="txtCorreo" name="txtCorreo" type="text" class="form-control required" aria-required="true">                    
                </div>
                <div class="form-group">
                    <label>Telefono/Celular</label>
                    <input id="txtTelefono" name="txtTelefono" type="text" class="form-control required" aria-required="true">                    
                </div>
                <div class="form-group">
                    <label>Usuario</label>
                    <input id="txtUsuario" name="txtUsuario" type="text" class="form-control required" aria-required="true">                    
                </div>
                <div class="form-group">
                    <label>Area</label>
                    <select id="sltarea" class="form-control required">
                         
                    </select>                   
                </div>
                <div class="form-group">
                    <label>Perfil</label>
                   <select id="sltperfil" class="form-control required">
                         
                    </select>                     
                </div>
                 
             

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
        </div>
    </div>
</div>


<!--comentario-->
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="assets/js/plugins/validate/jquery.validate.min.js"></script>

<script>
    $(document).ready(function() {

        var sltidarea;
        var sltidperfil;
        var stlidtdi;
        var tblUsuario = $('#tblUsuario').DataTable();

        tblUsuario = cargarTabla();

        $("#frm-nuevoempleado").validate({
                rules: {
                    txtNombre: {
                        required: true
                    },
                    txtApellido: {
                        required: true
                    }                    
                },
                messages: {
                    txtNombre: {
                        required: "Favor de ingresar el nombre"
                    },
                    txtApellido: {
                        required: "Favor de ingresar el apellido"
                    }                    
                },
                submitHandler: function(form) {
                    $.post("?c=Empleado&a=guardar",
                    {
                        nombre: $("#txtNombre").val(),
                        apellido: $("#txtApellido").val(),
                        idtdi: sltidtdi,
                        nrodocumentoidentidad: $("#txtNumeroDocumentoIdentiddad").val(),
                        correo: $("#txtCorreo").val(),
                        telefono: $("#txtTelefono").val(),
                        usuario: $("txtUsuario").val(),
                        idarea: $("#hdnIdArea").val(),
                        idperfil: $("#hdnIdPerfil").val(),
                        idauditoria: $("#hdnIdAuditoria").val(),
                        //ruc: $("#hdnRuc").val(),
                        
                        
                        


                    }, function(data, status){
                        //alert("Data: " + data + "\nStatus: " + status);
                        $('#modalArea').modal('toggle');

                        
                        var response = jQuery.parseJSON(data);

                        if(response.error == FLAG_CORRECTO){
                            //alert("correcto");
                            bootbox.alert({
                                title: m_001,
                                message: m_0057,
                                size: 'small',
                                className: 'animated bounceInRight',
                                callback: function(){  }
                            });
                        }else{
                            bootbox.alert({
                                title: m_001,
                                message: m_0058 + ': ' + response.error,
                                size: 'small',                                
                                className: 'animated wobble',
                                callback: function(){  }
                            });  
                        }

                        tblUsuario = cargarTabla();
                    });
                }
        });

        //listar los combos

        //


        $('#tblUsuario tbody').on('click', 'td.link-control > .editar', function () {

            $('#modalArea').modal('show');
            var tr = $(this).closest('tr');
            var row = tblUsuario.row(tr);

            $("#hdnIdEmpleado").val(row.data().Id);
            $("#hdnIdAuditoria").val(row.data().Auditoria.Id);
            $("#hdnIdArea").val(row.data().Area.Id);
            $("#hdnIdPerfil").val(row.data().Perfil.Id);
            //$("#hdnRuc").val(row.data().Empresa.Ruc);*/
            $("#txtNombre").val(row.data().Nombres);
            $("#txtApellido").val(row.data().Apellidos);
            $("#txtUsuario").val(row.data().Usuario);
            $("#txtNumeroDocumentoIdentiddad").val(row.data().NumeroDocumento);

            $("#slttipodocumentoidentidad option").removeAttr("selected");
           $("#sltarea option").removeAttr("selected");
            $("#sltperfil option").removeAttr("selected");

            //
            $("#slttipodocumentoidentidad option[value= "+row.data().TipoDocumentoIdentidad+"]").attr("selected",true);
            $("#sltarea option[value= "+row.data().Area.Id+"]").attr("selected",true);
            $("#sltperfil option[value= "+row.data().Perfil.Id+"]").attr("selected",true);
            


            
        });

        $('#modalArea').on('hidden.bs.modal', function () {
            limpiar();
        })

    } );

    function cargarTabla(){

        var table = $('#tblUsuario').DataTable({
            "bFilter": true,
            "bDestroy": true,
            "bProcessing": true,
            "bServerSide": true,
            "ajax": {
                "type": "POST", 
                //"contentType": "application/json; charset=utf-8",        
                "url": '?c=Empleado&a=listar',
                /*
                "data": function ( d ){
                    d.RowsDeleted = rows_deleted;
                    d.fecha_seleccion = '';
                },
                */
                "error": function(xhr,status,error) {
                    console.log(xhr.responseText);
                    console.log(xhr);
                }
            },
            'columnDefs': [
                {
                    "targets": [ 0, 1, 2, 3,4,5],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [9],
                    "searchable": false, 
                    "orderable": false,
                    "className": 'link-control',
                    "render": function(data, type, full, meta){

                    return '' +
                    '<button class="btn btn-success btn-xs btn-space editar">'+
                        '<i class="fa fa-wrench"></i> Editar'+
                    '</button>' + 
                    '<button class="btn btn-danger btn-xs btn-space" onClick="eliminar(' + data.Id + ',' + data.Auditoria.Id + ',' + data.Empresa.Ruc+ ','+ data.Perfil.Id + ',' + data.Area.Id+')">'+
                        '<i class="fa fa-close"></i> Eliminar'+
                    '</button>';                      
                    }
                }
            ],
     
            "columns": [
                        { "data": 'Area.Id'},
                        { "data": 'Perfil.Id'},
                        { "data": 'Id'},
                        { "data": 'Auditoria.Id'},              
                        { "data": 'NumeroDocumento'},
                        { "data": 'TipoDocumentoIdentidad'},
                        { "data": 'Nombres'},
                        { "data": 'Apellidos'},
                        { "data": 'Usuario'},
                        { "data": null},
            ]
            
        });    

        return table;        
    }
    function limpiar(){


        $("#hdnIdEmpleado").val('');
        $("#hdnIdAuditoria").val('');
       // $("#hdnRuc").val('');
        $("#txtNombre").val('');
        $("#txtDescripcion").val('');
        $("#txtNombre").val('');
        $("#txtApellido").val('');
        $("#txtUsuario").val('');
        $("#txtNumeroDocumentoIdentiddad").val('');

        $("#slttipodocumentoidentidad option").removeAttr("selected");
        $("#sltarea option").removeAttr("selected");
        $("#sltperfil option").removeAttr("selected");

        $("#slttipodocumentoidentidad option[value= "+0+"]").attr("selected",true);
        $("#sltarea option[value= "+0+"]").attr("selected",true);
        $("#sltperfil option[value= "+0+"]").attr("selected",true);

    }
    function eliminar(IdEmpleado, IdAuditoria,EmpresaRuc,IdPerfil,IdArea){
        bootbox.confirm({
            title: m_001,
            message: m_0067,
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function (result) {
                if(result){
                    $.post("?c=Empleado&a=eliminar",
                    {
                        idempleado: IdEmpleado,
                        idauditoria: IdAuditoria,
                        empresaruc: EmpresaRuc,
                        idperfil:IdPerfil,
                        idarea:IdArea

                    }, function(data, status){
                        //alert("Data: " + data + "\nStatus: " + status);
                        var response = jQuery.parseJSON(data);

                        if(response.error == FLAG_CORRECTO){
                            //alert("correcto");
                            bootbox.alert({
                                title: m_001,
                                message: m_0064,
                                size: 'small',
                                className: 'animated bounceInRight',
                                callback: function(){ /* your callback code */ }
                            });
                        }else{
                            bootbox.alert({
                                title: m_001,
                                message: m_0058 + ': ' + response.error,
                                size: 'small',                                
                                className: 'animated wobble',
                                callback: function(){ /* your callback code */ }
                            });  
                        }

                        tblArea = cargarTabla();
                    });
                }else{
                    bootbox.alert({
                        title: m_001,
                        message: m_0068,
                        size: 'small',
                        className: 'animated bounceInRight',
                        callback: function(){ /* your callback code */ }
                    });
                }
            }
        });        
    }



//Cargar Tipo de Documento
      $.getJSON("?c=TipoDocumentoIdentidad&a=listar", 
    {
       
    },
    function (data) {
        var items = "<option value='0' id='0'>SELECCIONE..</option>";
        $.each(data, function (i, item) {
           items +="<option value=" + item.Id + " id='"+ item.Id + "'" +">" + item.Nombre + "</option>";
        });
    $("#slttipodocumentoidentidad").html(items); 
    });




//Cargar Areas
          $.getJSON("?c=Area&a=Listarcbo", 
    {
       
    },
    function (data) {
        var items = "<option value='0' id='0'>SELECCIONE..</option>";
        $.each(data, function (i, item) {
           items +="<option value=" + item.Id + ">" + item.Nombre + "</option>";
        });
    $("#sltarea").html(items); 
    });




//Cargar Perfiles
          $.getJSON("?c=Perfil&a=Listarcbo", 
    {
       
    },
    function (data) {
        var items = "<option value='0' id='0'>SELECCIONE..</option>";
        $.each(data, function (i, item) {
           items +="<option value=" + item.Id + ">" + item.Nombre + "</option>";
        });
    $("#sltperfil").html(items); 
    });

//Obtener el valor de los selecT
    $("#slttipodocumentoidentidad").change(function() {
        sltidtdi = $(this).children(":selected").attr("value");
        
    });

    $("#sltarea").change(function() {
        sltidarea= $(this).children(":selected").attr("value");
      
    });

    $("#sltperfil").change(function() {
        sltidperfil= $(this).children(":selected").attr("value");
      
    });


</script>