        <div class="footer">
            <div class="pull-right">
                <strong>Copyright</strong> PERUSECURE E NET &copy; 2017
            </div>
            <!--
            <div>
                <strong>Copyright</strong> PERUSECURE E NET &copy; 2017
            </div>
            -->
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="assets/js/inspinia.js"></script>
    <script src="assets/js/plugins/pace/pace.min.js"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="assets/js/plugins/fullcalendar/moment.min.js"></script>
    <!-- Date range picker -->
    <script src="assets/js/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Select2 -->
    <script src="assets/js/plugins/select2/select2.full.min.js"></script>

    <!-- TouchSpin -->
    <script src="assets/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Tags Input -->
    <script src="assets/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- Dual Listbox -->
    <script src="assets/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>    

    <!-- JS de constantes-->
    <script src="assets/js/const.js"></script>  

    <!-- JS de constantes-->
    <script src="assets/js/bootbox.js"></script>      

</body>
</html>
